<html>
  <head>
    <meta charset="utf-8" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        color: #222222 !important;
      }

      .card {
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 640px;
        margin: auto;
      }

      .nav .navbar li {
        font-family: Inter, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        text-align: left;
        list-style: none;
        margin-right: 20px;
        margin-left: 0px;
      }

      .nav .navbar li a {
        display: block;
        color: inherit;
        text-decoration: none;
      }
      .nav .navbar li a:hover {
        color: #a4a4a4;
        text-decoration: underline;
      }

      .wrapper-content {
        background: #fff;
        padding: 20px 40px;
        line-height: 0px;
        border-radius: 5px;
        margin-top: 30px;
      }

      .icon {
        margin-right: 5px;
        margin-left: 5px;
      }
      .link {
        cursor: pointer;
        color: #00aa55;
      }
      .link:hover {
        color: #038544;
      }

      .buttonLgn {
        background-color: #00aa55;
        color: white;
        font-weight: 500;
        font-size: medium;
        border: none;
        border-radius: 7px;
        margin: 10px 0;
        padding: 15px 20px;
        width: 35%;
        cursor: pointer;
      }

      .buttonLgn:hover {
        background-color: #038544;
      }
    </style>
    <style type="text/css">
      @media only screen and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
          max-width: 100%;
        }
      }
    </style>

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        table.mj-full-width-mobile {
          width: 100% !important;
        }

        td.mj-full-width-mobile {
          width: auto !important;
        }
      }
    </style>
  </head>

  <body>
    <div class="card">
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 100% !important"
      >
        <tbody>
          <tr>
            <td style="direction: ltr; font-size: 0px; padding: 5px 0">
              <div
                class="mj-column-per-100 mj-outlook-group-fix"
                style="
                  font-size: 0px;
                  text-align: left;
                  direction: ltr;
                  display: inline-block;
                  vertical-align: top;
                  width: 100%;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  align="left"
                  style="vertical-align: top"
                  width="100%"
                >
                  <tr>
                    <td
                      align="left"
                      style="
                        font-size: 0px;
                        padding: 10px 5px;
                        word-break: break-word;
                      "
                    >
                      <div
                        style="
                          font-family: Inter, Helvetica, sans-serif;
                          font-size: 13px;
                          line-height: 1;
                          text-align: left;
                          display: relative;
                          padding-top: 20px;
                          background-color: #fff;
                        "
                      >
                        <div style="display: relative; text-align: left">
                          <img
                            src="https://media.tmra.io/tmra/production/organization-cms/62414373cf00cca3a830814a/givingsadaqah-logo.jpg"
                            alt="Logo Tmra Giving Sadaqah"
                            style="
                              margin-left: 40px;
                              width: 100px;
                              margin-bottom: 15px;
                            "
                          />
                        </div>
                        <nav
                          class="nav"
                          style="width: 100%; display: block; margin-top: 30px"
                        >
                          <ul class="navbar" style="display: flex">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tutorials</a></li>
                            <li><a href="#">Support</a></li>
                          </ul>
                        </nav>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div
                        style="
                          font-family: Inter, Helvetica, sans-serif;
                          font-size: 16px;
                          line-height: 1;
                          text-align: left;
                          display: relative;
                          background-color: #fff;
                          padding-top: 20px;
                          padding-left: 40px;
                          padding-right: 40px;
                          padding-bottom: 10px;
                          line-height: 1;
                        "
                      >
                        <h1 style="font-size: 1.6em; padding-right: 50px">
                          Welcome to Giving Sadaqah
                        </h1>
                        <img
                          style="width: 80%"
                          src="https://tmra-media-shared.b-cdn.net/tmra/dev/organization/undefined/young-arabic-woman-drinking-coffee-and-working-onl-2022-02-02-03-49-39-utc.jpg"
                          alt="Thumbnail Email"
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="left"
                      style="
                        font-size: 0px;
                        padding: 10px 5px;
                        word-break: break-word;
                      "
                    >
                      <div
                        style="
                          font-family: Inter, Helvetica, sans-serif;
                          font-size: 16px;
                          line-height: 1;
                          text-align: left;
                          display: relative;
                          background-color: #fff;
                          padding-top: 20px;
                          padding-left: 40px;
                          padding-right: 40px;
                          padding-bottom: 40px;
                          line-height: 1;
                        "
                      >
                        <p>Hi {{donor_name}},</p>
                        <br />
                        <p style="line-height: 1.5">
                          We're excited to welcome you to Giving Sadaqah and
                          we're even more excited about what we've got planned.
                        </p>
                        <p style="line-height: 1.5">
                          We've made great progress through pioneering research
                          that your donations have helped fund.
                        </p>
                        <br />
                        <br />
                        <p>Your friend,<br /><br />Team Giving Sadaqah</p>

                        <button class="buttonLgn" style="width: 90px">
                          Log in
                        </button>

                        <div style="margin-top: 32px; line-height: 1.4">
                          <p>
                            This email was sent to
                            <span class="link">{{donor_email}}</span>. If you'd
                            rather not receive this kind of email, you can
                            <span class="link">unsubscribe</span>
                            or
                            <span class="link"
                              >manage your email preferences</span
                            >.
                          </p>
                          <p style="color: gray">
                            © 2023 Giving Sadaqah, 100 Smith Street, Melbourne
                            VIC 3000
                          </p>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="direction: ltr; font-size: 0px; padding: 5px 0">
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        align="left"
                        style="vertical-align: top"
                        width="100%"
                      >
                        <tr>
                          <td style="text-align: justify; padding-bottom: 30px">
                            <div style="display: relative; text-align: left">
                              <img
                                src="https://media.tmra.io/tmra/production/organization-cms/62414373cf00cca3a830814a/givingsadaqah-logo.jpg"
                                alt="Logo Tmra Giving Sadaqah"
                                style="margin-left: 45px; width: 100px"
                              />
                            </div>
                          </td>
                          <td style="text-align: right">
                            <div
                              class="wrapper-list"
                              style="margin-right: 45px"
                            >
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-twitter-logo.jpg"
                                alt="Thumbnail Twitter"
                              />
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-facebook-logo.jpg"
                                alt="Thumbnail Facebook"
                              />
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-instagram-logo.jpg"
                                alt="Thumbnail Instagram"
                              />
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
