<h5>Thanks for letting us know</h5>
<pre>
Hi {{name}},
Thank you for getting in touch!

We appreciate you contacting us. One of our customer happiness member will be getting back to you shortly.

Thanks in advance for your patience.
Have a great day!


Thank You,
Team Givisng Sadaqah
</pre>
<br><br>
<img style="height:25px;" src="https://media.tmra.io/tmra/production/giving-sadaqah-62414373cf00cca3a830814a-DVed.png"/>