<h5>Assalamualaikum, Hai there... someone contacting us</h5>
<p>Her/His<br>
Name: {{name}}<br>
Email: {{email}}<br>
What they need/Notes: {{help_message}}</p>
<p>Please make sure that you will follow up her/him since <strong>We aim to respond as soon as possible, and always within 24 hours of receiving an enquiry.</strong> Email field has email value validation</p>