<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>هل نسيت كلمة السر</title>
  </head>
  <body
    style="
      font-family: Inter, Helvetica, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#f5f5f5"
    >
      <tr>
        <td align="center">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="640"
            style="
              background-color: #ffffff;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              border-radius: 3%;
            "
          >
            <tr>
              <td align="right" style="padding: 20px 0">
                <img
                  src="https://media.tmra.io/tender-assets/tender-newlogo.png"
                  alt="Logo Tmra Tender"
                  style="margin-right: 30px; max-width: 15%"
                />
              </td>
            </tr>
            <tr>
              <td>
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td style="text-align: right">
                      <ul
                        style="list-style: none; padding: 0; margin-right: 20px"
                      >
                        <li
                          style="
                            display: inline-block;
                            margin-right: 20px;
                            cursor: pointer;
                            font-family: Inter, Helvetica, sans-serif;
                            font-weight: 700;
                            font-size: 1em;
                            text-align: left;
                          "
                        >
                          الدعم
                        </li>
                        <li
                          style="
                            display: inline-block;
                            margin-right: 20px;
                            cursor: pointer;
                            font-family: Inter, Helvetica, sans-serif;
                            font-weight: 700;
                            font-size: 1em;
                            text-align: left;
                          "
                        >
                          مسكن
                        </li>
                      </ul>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="background-color: #ffffff"
                >
                  <tr>
                    <td style="padding: 0 60px">
                      <h1 style="font-size: 1.6em; text-align: right">
                        غير كلمة المرور الخاصة بك
                      </h1>
                      <p style="text-align: right">مرحبًا {{name}}،</p>

                      <p style="text-align: right">
                        لقد تلقينا طلبًا لتغيير كلمة مرور منصة غيث
                      </p>
                      <p style="text-align: right">
                        إذا لم تطلب تغيير كلمة المرور الخاصة بك ، فيمكنك تجاهلها
                        لن يتم تغيير هذا البريد الإلكتروني وكلمة المرور الخاصة
                        بك. الرابط أدناه ستبقى نشطة لمدة 24 ساعة.
                      </p>
                      <p style="text-align: right">صديقك فريق العطاء</p>

                      <p style="text-align: right">
                        انقر فوق
                        <a href="{{resetUrl}}" target="_blank">here</a> لإعادة
                        تعيين كلمة المرور
                      </p>

                      <div style="width: fit-content; margin: 0 auto">
                        <a target="_blank" href="{{resetUrl}}">
                          <button
                            style="
                              width: 270px;
                              background-color: #0e8478;
                              color: white;
                              font-weight: 500;
                              font-size: medium;
                              border: none;
                              border-radius: 7px;
                              margin: 10px 0;
                              padding: 15px 20px;
                              cursor: pointer;
                            "
                          >
                            إعادة تعيين كلمة المرور
                          </button>
                        </a>
                      </div>

                      <p style="text-align: right">
                        تم إرسال هذا البريد الإلكتروني إلى
                        <span
                          ><a
                            href="mailto:olivia@gs.com"
                            style="text-decoration: none; color: #00aa55"
                          >
                            olivia@gs.com
                          </a> </span
                        >. إذا كنت تفضل عدم تلقي هذا النوع من البريد الإلكتروني
                        ، فيمكنك إلغاء الاشتراك أو إدارة تفضيلات البريد
                        الإلكتروني الخاصة بك.
                      </p>
                      <p style="color: gray; text-align: end; margin-top: 40px">
                        © 2077 Tender، 100 Smith Street، Melbourne VIC 3000
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="background-color: #ffffff; height: 100px"
              >
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td align="left" style="padding: 0 20px">
                      <img
                        src="https://media.tmra.io/tender-assets/tender-twitter-logo.png"
                        alt="Thumbnail Twitter"
                        class="icon"
                      />
                      <img
                        src="https://media.tmra.io/tender-assets/tender-facebook-logo.png"
                        alt="Thumbnail Facebook"
                        class="icon"
                      />
                      <img
                        src="https://media.tmra.io/tender-assets/tender-instagram-logo.png"
                        alt="Thumbnail Instagram"
                        class="icon"
                      />
                    </td>
                    <td align="right" style="padding: 0 20px">
                      <img
                        src="https://media.tmra.io/tender-assets/tender-newlogo.png"
                        alt="Logo Tmra Tender"
                        style="height: 4.3vh; max-width: 100%"
                      />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
