<h5>Giving Sadaqah Updates</h5>
<pre>
Hi {{name}},
Your account has been updated.
Have a great day!


Thank You,
Team Giving Sadaqah
</pre>
<br><br>
<img style="height:25px;" src="https://media.tmra.io/tmra/production/giving-sadaqah-62414373cf00cca3a830814a-DVed.png"/>