<html>
  <head>
    <meta charset="utf-8" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        color: #222222 !important;
      }

      .card {
        position: relative;
        border: 1px solid rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 640px;
        margin: auto;
      }

      .nav .navbar li {
        font-family: Inter, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.2em;
        text-align: left;
        list-style: none;
        margin: 0 !important;
      }

      .nav .navbar li a {
        display: block;
        color: inherit;
        text-decoration: none;
        margin-right: 30px !important;
      }
      .nav .navbar li a:hover {
        color: #a4a4a4;
        text-decoration: underline;
      }

      .wrapper-content {
        background: #fff;
        padding: 20px 40px;
        line-height: 0px;
        border-radius: 5px;
        margin-top: 30px;
      }

      .icon {
        margin-right: 5px;
        margin-left: 5px;
      }
      .link {
        cursor: pointer;
        color: #af046e;
      }

      .link:hover {
        color: #850052;
      }

      .buttonReset {
        background-color: #af046e;
        color: white;
        font-weight: 700;
        font-size: medium;
        border: none;
        border-radius: 7px;
        margin: 10px 0;
        padding: 15px 50px;
        cursor: pointer;
        text-decoration: none;
      }

      .buttonReset:hover {
        background-color: #850052;
      }
    </style>
    <style type="text/css">
      @media only screen and (min-width: 480px) {
        .mj-column-per-100 {
          width: 100% !important;
          max-width: 100%;
        }
      }
    </style>

    <style type="text/css">
      @media only screen and (max-width: 480px) {
        table.mj-full-width-mobile {
          width: 100% !important;
        }

        td.mj-full-width-mobile {
          width: auto !important;
        }
      }
    </style>
  </head>

  <body>
    <div class="card">
      <table
        border="0"
        cellpadding="0"
        cellspacing="0"
        style="width: 100% !important"
      >
        <tbody>
          <tr>
            <td style="direction: ltr; font-size: 0px; padding: 5px 0">
              <div
                class="mj-column-per-100 mj-outlook-group-fix"
                style="
                  font-size: 0px;
                  text-align: left;
                  direction: ltr;
                  display: inline-block;
                  vertical-align: top;
                  width: 100%;
                "
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  role="presentation"
                  align="left"
                  style="vertical-align: top"
                  width="100%"
                >
                  <tr>
                    <td
                      align="left"
                      style="
                        font-size: 0px;
                        padding: 10px 5px;
                        word-break: break-word;
                      "
                    >
                      <div
                        style="
                          font-family: Inter, Helvetica, sans-serif;
                          font-size: 13px;
                          line-height: 1;
                          text-align: left;
                          display: relative;
                          padding-top: 20px;
                          background-color: #fff;
                        "
                      >
                        <div style="display: relative; text-align: left">
                          <img
                            src="https://tmra-media-shared.b-cdn.net/tmra/staging/organization/tmra-logo.png"
                            alt="Logo Tmra Giving Sadaqah"
                            style="margin-left: 40px; width: 100px"
                          />
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td
                      align="left"
                      style="
                        font-size: 0px;
                        padding: 10px 5px;
                        word-break: break-word;
                      "
                    >
                      <div
                        style="
                          font-family: Inter, Helvetica, sans-serif;
                          font-size: 16px;
                          text-align: left;
                          display: relative;
                          background-color: #fff;
                          padding-top: 20px;
                          padding-left: 40px;
                          padding-right: 40px;
                          padding-bottom: 40px;
                        "
                      >
                        <h2 style="font-size: 1.2em">Welcome to TMRA</h2>
                        <p>
                          Hi <span style="color: #af046e">{{donor_name}}</span>,
                          thanks for joining us out!
                        </p>
                        <br />
                        <p style="line-height: 1.4">
                          You're almost ready to start using TMRA, to complete
                          your registration kindly click the button below to
                          verify your email and you will never be follow up on
                          leads again.
                        </p>
                        <br />
                        <div style="display: flex; justify-content: start">
                          <a
                            href="{{donor_redirect_link}}"
                            target="_blank"
                            class="buttonReset"
                            >Verify Me</a
                          >
                        </div>
                        <br />
                        <div style="margin-bottom: 32px; line-height: 1.4">
                          <p>
                            This email was sent to
                            <span style="color: #af046e">{{donor_email}}</span>.
                            If you have any questions, send us a message at our
                            contact center. We'd love to hear from you.
                          </p>
                        </div>
                        <p style="text-align: left; line-height: 1.5">
                          Your friend,<br />Team TMRA
                        </p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="direction: ltr; font-size: 0px; padding: 5px 0">
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        role="presentation"
                        align="left"
                        style="vertical-align: top"
                        width="100%"
                      >
                        <tr>
                          <td style="text-align: justify; padding-bottom: 30px">
                            <div style="display: relative; text-align: left">
                              <img
                                src="https://tmra-media-shared.b-cdn.net/tmra/staging/organization/tmra-logo.png"
                                alt="Logo Tmra Giving Sadaqah"
                                style="margin-left: 45px; width: 100px"
                              />
                            </div>
                          </td>
                          <td style="text-align: right">
                            <div
                              class="wrapper-list"
                              style="margin-right: 45px"
                            >
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-twitter-logo.jpg"
                                alt="Thumbnail Twitter"
                              />
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-facebook-logo.jpg"
                                alt="Thumbnail Facebook"
                              />
                              <img
                                class="icon"
                                src="https://media.tmra.io/tender-assets/tender-instagram-logo.jpg"
                                alt="Thumbnail Instagram"
                              />
                            </div>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
