<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Inter"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>After Accept Account</title>
    <style>
      @media screen and (min-width: 480px) {
        table {
          width: 430px;
        }
      }

      @media screen and (min-width: 680px) {
        table {
          width: 680px;
        }
      }
    </style>
  </head>
  <body
    style="
      font-family: Inter, Helvetica, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    "
  >
    <table
      width="100%"
      cellpadding="0"
      cellspacing="0"
      border="0"
      bgcolor="#f5f5f5"
      align="center"
    >
      <tr>
        <td align="center">
          <table
            cellpadding="0"
            cellspacing="0"
            border="0"
            width="680"
            style="
              background-color: #ffffff;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
              border-radius: 3%;
            "
          >
            <tr>
              <td align="left" style="padding: 20px 0">
                <img
                  src="https://media.tmra.io/tender-assets/tender-newlogo.png"
                  alt="Logo Tmra Tender"
                  style="padding: 0 60px; max-width: 15%"
                />
              </td>
            </tr>
            <tr>
              <td>
                <table
                  cellpadding="0"
                  cellspacing="0"
                  border="0"
                  width="100%"
                  style="background-color: #ffffff"
                >
                  <tr>
                    <td style="padding: 0 60px">
                      <h1
                        style="
                          font-size: 31.6px;
                          line-height: 30.02px;
                          text-align: right;
                          font-weight: 500;
                          color: #101828;
                        "
                      >
                        القبول في منصة غيث للمنح
                      </h1>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        السلام عليكم ورحمة الله وبركاته
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        السادة شركاء النجاح لمؤسسة محمد بن عبدالعزيز الحبيب
                        وأولاده الخيرية
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        {{name}}
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        نشكر لكم تواصلكم وثقتكم بمؤسستكم مؤسسة محنشكر لكم
                        تواصلكم وثقتكم بمؤسستكم مؤسسة محمد بن عبدالعزيز الحبيب
                        وأولاده الخيرية ونفيدكم بأنه تم قبول طلب تسجيلكم في
                        بوابة (غيث) الخاص بالمؤسسة وذلك لاستقبال مشاريعكم
                        الخيرية والتنموية علما أنه يمكنكم الدخول للموقع من خلال
                        الايميل {{client_email}} وكلمة المرور المسجلة ة (غيث)
                        الخاص بالمؤسسة
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        ونسعد باستقبال مشاريع الخاصة بكم ونأمل أن يكون مشروع
                        واحد فقط ، وعدم إرسال أي مشروع حتى يتم الرد على المشروع
                        السابق، وذلك رغبة في تسريع آلية الرد على طلبكم وطلب
                        الجهات الأخرى وفي حال اعتماد أي مشروع لكم وإكمال تنفيذه؛
                        بإمكانكم الرفع بطلب مشروع آخر في حال توفر بند للصرف بإذن
                        الله شاكرين لكم تواصلكم وتعاونكم
                      </p>
                      <p
                        style="
                          font-size: 18px;
                          line-height: 31.79px;
                          text-align: right;
                          font-weight: 400;
                          color: #344054;
                        "
                      >
                        والله يحفظكم ويرعاكم
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td
                align="center"
                style="background-color: #ffffff; height: 100px"
              >
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                  <tr>
                    <td align="left" style="padding: 0 60px">
                      <img
                        src="https://media.tmra.io/tender-assets/tender-newlogo.png"
                        alt="Logo Tmra Tender"
                        style="height: 5vh; max-width: 100%"
                      />
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
