<h5>Complete Donation</h5>
<pre>
Hi,
There is a complete donation for <strong>{{campaignName}}</strong>!

<div style="text-align:center;padding: 30px;width:100%;height:100%;background-color:rgb(192, 190, 190);">
  check the campaign <a href="https://givingsadaqah-staging.tmra.io/org/givingsadaqah/campaign/{{campaignId}}">here</a>
</div>

Thank You,
Team Giving Sadaqah
</pre>
<br><br>
<img style="height:25px;" src="https://media.tmra.io/tmra/production/giving-sadaqah-62414373cf00cca3a830814a-DVed.png"/>