<h5>Donor has sent you an Email!</h5>
<pre>
Full name   : {{name}}
Email       : {{email}}
Message     : {{help_message}}


Thank You,
{{name}}
</pre>
<br><br>
<img style="height:25px;" src="https://media.tmra.io/tmra/production/giving-sadaqah-62414373cf00cca3a830814a-DVed.png"/>